body {
    margin: 0;
}

div {
    border: 1px solid #BBB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 30px;
    border-radius: 10px;
}

div:hover {
    cursor: pointer;
}

.buttons {
    background: white;
    box-shadow: 0px 3px 0px #777, 0px 3px 15px rgba(0,0,0,.2);
}

.buttons:active {
    box-shadow: 0px 2px 0px #777, 0px 3px 15px rgba(0,0,0,.2);
    transform: translate(0, 4px);
    transition: all .05s ease-in-out;
    transform: translate(0, 1px);
}

.calculator {
    height: auto;
}

#calculator {
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    border: 1px solid #555;
    margin: 50px;
    padding: 25px 12px 12px;
    background: #ddd;
    box-shadow: 
    1px 1px 0px #999
    , 1px 2px 0px #999
    , 1px 3px 0px #999
    , 1px 4px 0px #999
    , 1px 5px 0px #999
    , 1px 6px 0px #999
    , 1px 7px 0px #999
    , 1px 8px 0px #999
    , 1px 9px 0px #999
    , 1px 10px 0px #999
    , 1px 11px 0px #999
    ;
}

#screen {
    grid-area: 1 / 1 / 2 / 5;
    height: 100px;
    font-size: 80px;
    color: white;
    background: #333;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0px 10px;
}

#equalsSymbol {
    grid-area: 3 / 4 / 7 / 5;
    background: orange;
}

.operator {
    background: #EEE;
}

.outer {
    background: #444;
    height: 100%;
}